
@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-text {
    animation: fadeSlideIn 1s ease-in-out forwards;
    opacity: 0;
  }